<div class="ve-flex-col ve-window min-h-0 h-100">
	<div class="ve-flex-v-stretch input-group input-group--top no-shrink">
		<input type="search" class="search w-100 form-control" placeholder="Find {{titleSearch}}...">
		<button class="btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>
	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1 no-shrink" data-name="wrp-btns-sort">
		<button class="btn-5et col-3 sort name" data-sort="name">Name</button>
		<button class="btn-5et col-1 sort source" data-sort="source">Source</button>
		<button class="btn-5et col-1 sort cr" data-sort="cr">CR</button>

		<button class="btn-5et col-7" disabled></button>
	</div>

	<div class="veapp__list mb-1 h-100">
		{{#each rows}}
			<div class="w-100 ve-flex-v-center py-1 veapp__list-row my-1">
				<span class="col-3 pl-1">{{name}}</span>
				<span class="col-1 text-center {{sourceClassName}}" title="{{sourceLong}}">{{sourceShort}}</span>
				<span class="col-1 text-center">{{cr}}</span>

				<div class="col-7 ve-flex-col pr-1 pl-2 bl-1p">
					<div class="split-v-center">
						<label class="ve-flex-v-center mr-2 w-100 min-w-0">
							<span class="no-wrap mr-2 w-140p no-shrink text-right">Rename To:</span>
							<input class="w-100 mx-1 input-xs form-control veapp__ipt-row-inline" name="ipt-rename" type="text">
						</label>

						<label class="ve-flex-v-center mr-1" title="If this creature's name should be treated as a proper noun.">
							<span class="no-wrap mr-1 w-100p no-shrink text-right">Named Creature:</span>
							<input name="cb-is-named" type="checkbox">
						</label>
					</div>

					<label class="ve-flex-v-center mr-2 mt-1" title="Only used if a &quot;Rename To&quot; value is provided. A shortened form of the creature's name, used in some auto-generated text.">
						<span class="no-wrap mr-2 w-140p no-shrink text-right ve-muted">Rename To (Short):</span>
						<input class="w-100 mx-1 input-xs form-control veapp__ipt-row-inline" name="ipt-rename-short" type="text" placeholder="(Use full name)">
					</label>

					{{#if isAdjustableCr}}
						<label class="ve-flex-v-center mt-1">
							<span class="no-wrap mr-2 w-140p no-shrink text-right">Scale CR to:</span>

							<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control" name="sel-cr">
								<option value="-1" title="Use Existing CR">&mdash;</option>
								<option value="0">0</option>
								<option value="0.125">1/8</option>
								<option value="0.25">1/4</option>
								<option value="0.5">1/2</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
							</select>
						</label>
					{{else if isAdjustableSummonSpellLevel}}
						<label class="ve-flex-v-center mt-1">
							<span class="no-wrap mr-2 w-140p no-shrink text-right">Summon spell level:</span>

							<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control" name="sel-summon-spell-level">
								<option value="-1">&mdash;</option>
								{{#each availableSummonSpellLevels}}
									<option value="{{this}}">{{Parser_getOrdinalForm this}}-level Spell</option>
								{{/each}}
							</select>
						</label>
					{{else if isAdjustableSummonClassLevel}}
						<label class="ve-flex-v-center mt-1">
							<span class="no-wrap mr-2 w-140p no-shrink text-right">Summoner class level:</span>

							<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control" name="sel-summon-class-level">
								<option value="-1">&mdash;</option>
								{{#each availableSummonClassLevels}}
									<option value="{{level}}">Level {{level}} {{className}}</option>
								{{/each}}
							</select>
						</label>
					{{/if}}

					{{#if hasVariants}}
						<label class="ve-flex-v-center mt-1">
							<span class="no-wrap mr-2 w-140p no-shrink text-right">Variant:</span>

							<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control" name="sel-variant">
								<option value="-1">&mdash;</option>
								{{#each availableVariants}}
									<option value="{{ix}}">{{name}}</option>
								{{/each}}
							</select>
						</label>
					{{/if}}

					<label class="ve-flex-v-center mt-1">
						<span class="no-wrap mr-2 w-140p no-shrink text-right">Token:</span>

						<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control mr-1" name="sel-token">
							<option value="-1">Default</option>
							{{#each availableTokens}}
								<option value="{{ix}}">{{name}}</option>
							{{/each}}
							<option value="-2">Custom</option>
						</select>
					</label>

					<div class="ve-flex-v-center mt-1 ve-hidden" data-name="stg-token-custom">
						<span class="no-wrap mr-2 w-140p no-shrink text-right">Custom token:</span>

						<input class="w-100 mx-1 input-xs form-control veapp__ipt-row-inline mr-2" name="ipt-token-custom" type="text">

						<button class="btn-5et btn-xxs btn-default w-initial" name="btn-token-custom" title="Set Custom Token"><i class="fas fa-image"></i></button>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

	<div class="no-shrink">
		<button class="btn-5et" name="btn-run">Import</button>
	</div>
</div>
