<div class="ve-flex-col ve-window min-h-0 h-100 relative p-2">
	<div class="px-4">
		To access Patron-only features, you must be a &quot;<b>Goblin</b>&quot;-tier (or higher) Patron.
	</div>

	<hr class="hr-3">

	<div class="ve-flex-h-center mb-1">
		<a href="https://www.patreon.com/bePatron?u=22018559" data-patreon-widget-type="become-patron-button" target="_blank">
			<img src="{{srcImagePatreon}}" alt="Become a Patron!" class="patlog__img-sign-up">
		</a>
	</div>

	<div class="ve-flex-h-center ve-small ve-muted italic mb-1">For existing Patrons</div>

	<div class="ve-flex-h-center">
		<button class="btn btn-5et btn-default patlog__btn-log-in" name="btn-log-in">Log In</button>
	</div>
</div>
