<form class="{{cssClass}} ve-flex-col" autocomplete="off">
	{{#if editable}}
		<div class="form-group title">
			<input type="text" name="name" value="{{document.name}}">
		</div>
	{{/if}}

	<iframe src="{{document.flags.srd5e.iframe_url}}" class="w-100 h-100 min-h-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	{{#if editable}}
		<div class="px-5 ve-flex-vh-center">
			<input type="text" name="flags.srd5e.iframe_url" placeholder="URL" value="{{document.flags.srd5e.iframe_url}}" class="mr-2">
			<button type="submit" class="btn btn-5et btn-default"><i class="fas fa-check"></i></button>
		</div>
	{{/if}}
</form>
